.form-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container form {
  width: 520px;
  height: 350px;
  border: 1px solid black;
  box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control {
  margin: 1rem 0;
  width: 80%;
}

.form-container .form-control input,
.add-event .create-form form input {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
}

.form-container form .form.btn {
  width: 60%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  margin: 0.7rem 0;
}

.form-container form a {
  color: #111;
  text-decoration: underline;
}
