.pages {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.page {
  background: #111;
  width: 60px;
  height: 40px;
  color: #fff;
  margin: 0 1rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page:hover {
  opacity: 0.8;
}
